body,
h1,
h2,
h3,
p,
span,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #242426;
  background: #f5f5f8;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background-color: #32a041;
  padding: 20px;
  margin-bottom: 20px;
  text-align: end;
}

ul li a {
  font-weight: 600;
}

.button {
  padding: 0 2rem;
  height: 3rem;
  border: none;
  background: #32a041;
  color: #ffffff;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  letter-spacing: 1px;
  font-family: inherit;
  box-sizing: border-box;
}

.button:hover::before {
  transform: scaleX(1.1);
}

.button span {
  position: relative;
  z-index: 10;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(0);
  width: 100%;
  height: inherit;
  border-radius: 0 3rem 3rem 0;
  transition: all 0.8s ease;
  background: #184603;
  transform-origin: 0 50%;
}
