.login-cadastro {
   overflow: auto;
}

.form-entrada {
   display: block;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   padding: 40px;
   transition: all 1s ease;
}

.form-entrada.form-login {
   margin-top: 100px;
}

.form-entrada.active {
   visibility: visible;
   opacity: 1;
   pointer-events: all;
}

.grid-body {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.ilustracao {
   transition: all 1s linear;
   background-color: #fff;
   padding: 32px 10px;
   max-width: 600px;
   height: 100vh;
   position: absolute;
   top: 0;
   right: 0px;
   left: calc(100% - 600px);
   z-index: 10;
   border-right: 10px solid #fff;
}

.ilustracao .imgPrincipal {
   height: 600px;
   animation: imgPrincipalAnimation 1.5s forwards;
}

@keyframes imgPrincipalAnimation {
   0% {
      transform: translateX(100px);
      opacity: 0;
   }

   100% {
      transform: translateX(0px);
      opacity: 1;
   }
}

.imgsContentPrincipal {
   position: relative;
}

.ilustracao .nameLogo {
   position: absolute;
   bottom: 0;
   right: -15px;
   animation: nameLogoAnimation 2s forwards;
}

@keyframes nameLogoAnimation {
   0% {
      transform: translateX(-250px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.contet-ilustracao,
.campo-entrada {
   max-width: 540px;
   margin-left: auto;
   margin-right: auto;
}

.campo-entrada h1 {
   font-size: 3rem;
   margin-bottom: 40px;
}
.form-entrada div {
   position: relative;
}

.form-entrada label {
   position: absolute;
   top: 12px;
   left: 20px;
   transition: all 0.4s ease;
   pointer-events: none;
}

.form-entrada input {
   display: block;
   width: 100%;
   margin-bottom: 20px;
   padding: 1rem;
   box-sizing: border-box;
   border-radius: 8px;
   border: none;
   box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
}

.form-entrada input:focus {
   outline: none;
   border: none;
   box-shadow: 0 2px 7px 0 rgba(65, 58, 2, 0.5);
}

.form-entrada input:focus ~ label,
.form-entrada input:valid ~ label,
.form-entrada input.escrito ~ label {
   display: block;
   top: -28px;
   transition: all 0.4s ease;
}

.campo-entrada {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.campo-entrada .col-2 {
   grid-column: 1/ -1;
}

.logo {
   display: flex;
   gap: 20px;
   align-items: center;
   width: 28px;
   animation: logoAnimation 1s forwards;
}

@keyframes logoAnimation {
   0% {
      transform: translateY(-100px);
      opacity: 0;
   }

   100% {
      transform: translateY(0px);
      opacity: 1;
   }
}

.logo-pdf {
   justify-content: start;
}

.link-cadastro,
.link-login {
   font-weight: 600;
   cursor: pointer;
   color: #32a041;
}

.ilustracao.right {
   right: 0;
}

.ilustracao.left {
   left: 0;
}

.msg-login {
   display: none;
   position: relative;
   top: -40px;
   width: 100%;
   background: #ffffff;
   padding: 5px;
   border-radius: 4px;
   border-left: 4px solid #a03232;
}

.msg-login.active {
   display: block;
}

.error-input {
   display: none;
   font-size: 0.75rem;
   color: #a03232e3;
   position: relative;
   top: -18px;
   margin-left: 10px;
}

.error-input.active {
   display: block;
}

@media (max-width: 1280px) {
   .grid-body {
      grid-template-columns: 1fr;
   }
   .form-entrada {
      display: none;
      margin-left: auto;
      margin-right: auto;
   }

   .form-entrada.active {
      display: block;
   }

   .ilustracao {
      display: none;
   }

   @media (max-width: 350px) {
      .campo-entrada {
         grid-template-columns: 1fr;
      }
   }
}
