body,
h1,
h2,
h3,
h4,
p,
span,
ul {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Poppins", sans-serif;
   color: #242426;
   background: #f5f5f8;
   position: relative;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

header {
   background-color: #32a041;
   padding: 20px;
}

.header-fixed {
   display: flex;
   justify-content: end;
   width: calc(100% - 35px);
   position: fixed;
   z-index: 10;
}

ul li a {
   font-weight: 600;
}

input {
   margin: 0;
}

.home {
   padding: 90px 30px 20px 30px;
}

.button {
   padding: 0 2rem;
   height: 3rem;
   border: none;
   background: #32a041;
   color: #ffffff;
   border-radius: 4px;
   font-size: 0.875rem;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   letter-spacing: 1px;
   font-family: inherit;
   box-sizing: border-box;
}

.button:hover::before {
   transform: scaleX(1.15);
}

.button span {
   position: relative;
   z-index: 10;
}

.button::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   transform: scaleX(0);
   width: 100%;
   height: inherit;
   border-radius: 0 3rem 3rem 0;
   transition: all 0.8s ease;
   background: #184603;
   transform-origin: 0 50%;
}

.btnDenied {
   background: transparent;
   border: 2px solid #32a041;
   color: #32a041;
}

.btnDenied:hover span {
   color: #ffffff;
}

.off-user {
   display: flex;
   gap: 5px;
   align-items: center;
   font-weight: 500;
   cursor: pointer;
   color: #000000;
}

.off-user:hover {
   color: #ffffff;
}

.off-user:hover img {
   filter: invert(100%);
   scale: 1.2;
}

.btnEdit {
   margin-top: 20px;
   grid-column: 2;
}

.modal {
   background: #00000070;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 200;
   top: 0;
   display: none;
   align-items: center;
   justify-content: center;
}

.modal.active {
   display: flex;
}

.wrapper-modal {
   margin: 20px;
   width: 350px;
   padding: 32px;
   border-radius: 28px;
   background: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.wrapper-modal img {
   width: 30px;
   background: #b4b4b450;
   padding: 5px;
   border-radius: 50%;
   margin-bottom: 10px;
}

.wrapper-modal h4 {
   font-weight: 500;
   font-size: clamp(1rem, 5vw, 1.4rem);
   margin-bottom: 5px;
}

.wrapper-modal p {
   width: 30ch;
   font-size: 0.875rem;
   color: #4b4b4b;
   margin-bottom: 40px;
}

.wrapper-modal .btnConfirmed,
.wrapper-modal .btnDenied {
   width: 100%;
   flex-grow: 1;
}

.wrapper-modal .btn-flex {
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   gap: 10px;
}

@media (max-width: 750px) {
   .btnEdit {
      grid-column: 1;
   }
}

@media (max-width: 500px) {
   .home {
      padding: 90px 15px 10px 15px;
   }

   .button {
      margin-bottom: 8px;
      width: 100%;
   }
}
