.menu-left {
   position: fixed;
   z-index: 100;
   width: 250px;
   background: #ffffff;
   height: 100%;
   box-sizing: border-box;
   box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
   transition: all 0.5s ease;
}

.cor-header {
   width: 100%;
   height: 64px;
   background: #32a041;
   position: relative;
}

.cor-header span {
   display: block;
   width: 40px;
   height: 40px;
   position: absolute;
   background: transparent;
   border: none;
   top: 8px;
   right: 2px;
   cursor: pointer;
}

.menu-left ul {
   padding: 28px;
   position: relative;
}

.menu-left ul li a {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-bottom: 28px;
   transition: all 0.3s ease;
}

.menu-left.active {
   width: 50px;
   height: 60px;
   transition: all 0.5s ease;
   border-radius: 0 0 10px 0;
}

.menu-left.active .cor-header {
   border-radius: 0 0 10px 0;
}

.menu-left.active ul li a,
.menu-left.active .perfilLink {
   opacity: 0;
   pointer-events: none;
}

.menu-left li a.active,
.menu-left li a:hover {
   padding: 0.875rem;
   border-radius: 8px;
   background: #32a041;
   color: #ffffff;
}

.menu-left li a.active img,
.menu-left li a:hover img {
   filter: invert(100%);
}

.menu-left > div {
   height: 100vh;
   position: relative;
}

.perfilLink {
   position: absolute;
   bottom: 20px;
   transition: 0.3s ease;
   padding: 20px;
   width: 80%;
}

.menu-left .perfilLink a {
   display: block;
   padding: 5px;
   background: #ffffff;
   border: 3px solid #000000;
   height: 230px;
   border-radius: 10px;
   transition: 0.3s ease;
   position: relative;
}

.menu-left .perfilLink .shappe-green {
   position: absolute;
   top: -15px;
   right: -10px;
   transition: all 0.3s linear;
}

.menu-left .perfilLink span {
   font-size: 0.875rem;
   font-weight: 600;
}

.menu-left .perfilLink .text-top {
   position: relative;
   top: -4px;
   left: 8px;
}

.menu-left .perfilLink .shappe-text {
   position: absolute;
   top: 40px;
   right: -10px;
   transition: all 0.3s linear;
}

.menu-left .perfilLink .shappe-text .text-mid {
   padding-right: 20px;
   margin-left: 5px;
   margin-bottom: 8px;
}

.menu-left .perfilLink a:hover {
   scale: 1.05;
}

.menu-left .perfilLink a:hover .shappe-green,
.menu-left .perfilLink a:hover .shappe-text {
   transform: translateY(8px);
}

.perfilLink .icons-bottoms,
.perfilLink .img-perfil {
   position: absolute;
   bottom: 0;
}

.perfilLink .icons-bottoms {
   left: 10px;
}

.perfilLink .icons-bottoms img {
   margin-bottom: 10px;
}

.perfilLink .img-perfil {
   right: -30px;
}

/* Buttom */

.hamburger {
   cursor: pointer;
}

.hamburger input {
   display: none;
}

.hamburger svg {
   width: 32px;
   /* The size of the SVG defines the overall size */
   height: 3em;
   /* Define the transition for transforming the SVG */
   transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
   fill: none;
   stroke: white;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 3;
   /* Define the transition for transforming the Stroke */
   transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
   stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
   transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
   stroke-dasharray: 20 300;
   stroke-dashoffset: -32.42;
}
